@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

html, body {
  position: relative;
  height: 100%;
}

body {
  background: #2d383a;
    /* color = "Outerspace" (a little too light, probably,
              but I like it for my spaceship's color(s) */
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  color: #f6114b;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.odyssey-card {
  max-width: 50%; 
  overflow: visible;
  position: absolute;
  top: 40%; 
  left: 58%;
  transform: translate(-50%, -50%);
}

.odyssey-card .swiper-slide { 
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.odyssey-card .swiper-slide::after {
  position: absolute;
  content: "";
  inset: 0;
  width: 100%;
  aspect-ratio: 1/1; 
  border-radius: 50%;
  background: linear-gradient(to bottom right, #b8b8b88f, #0000005e);
}

.odyssey-card .swiper-slide-active::after {
  background: none;
}

.odyssey-card .swiper-slide > div {
  text-align: center;
  display: none;
  opacity: 0;
}

.odyssey-card .swiper-slide-active div {
  display: block;
  opacity: 1;
}

.odyssey-card .swiper-slide h2 {
  font-size: 1.2rem;
  font-family: 'Press Start 2P', cursive;
  position: relative:
}

.odyssey-card .swiper-slide h2:after {
  position: absolute;
  content: "";
  bottom: -20px;
  left: 50%;
}

@keyframes line {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.odyssey-card .swiper-slide-active h2::after {
  animation: line 0.5s linear forwards;
}

.odyssey-card .swiper-slide img { 
  display: block;
  width: 100%;
  object-fit: cover;
  box-shadow: 0px 3px 17px rgba(0, 0, 0, 0.25);
  border-radius: 50%; 
  aspect-ratio: 1/1;
}
 
@media (min-width: 768px) {
  .odyssey-card .swiper-slide h2 { 
       font-size: 2rem;
  }
}

.enlarged {
  transform: scale(1.5); /* Feel free to adjust this value */
  transition: transform 0.3s ease; 
  z-index: 1; 
}
